body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    min-width: 800px;
    background-color: lightgrey;
}

main {
    width: 70%;
    margin: 0 auto 2rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 0.5rem 0 black;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header ul#links {
    text-align: right;
    float: right;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0rem;
}

h3 {
    font-weight: normal;
    margin: 0;
}

#summary p {
    margin-top: 0.5rem;
}

p {
    margin: 0;
    padding: 0;
    display: block;
}

.year-marker {
    float: right;
}

#education ul {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
}

#skills h4 {
    display: inline-block;
    font-weight: nomral;
    margin: 0;
}
/* There's a list of categories, then a list of items in that category. 
        ul > li > ul > li */
#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#skills ul ul {
    display: inline;
}

#skills ul ul li {
    display: inline;
}

