body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    min-width: 370px;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    padding: 0 2rem 0 2rem;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 0.5rem 0 black;
    box-sizing: border-box;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header ul#links {
    text-align: right;
    float: right;
}

h1 {
    text-align: center;
}

h2 {
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: normal;
    margin: 0;
}

#summary p {
    margin-top: 0.5rem;
}

p {
    margin: 0;
    padding: 0;
    display: block;
}

a {
    color: inherit;
    text-decoration:inherit;
}

a:hover, a:focus {
    text-decoration: underline;
}

.year-marker {
    float: right;
}

#education ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    padding-left: 2rem;
    column-gap: 2rem;
}

#skills h3 {
    display: inline-block;
    font-weight: normal;
    font-size: 1rem;
    margin: 0.5rem 0;
}

/* There's a list of categories, then a list of items in that category. 
        ul > li > ul > li */
#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#skills ul ul {
    display: inline;
}

#skills ul ul li {
    display: inline;
}

footer {
    transition: color 0.2s;
    transition: font-size 0.2s;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    bottom: 1rem;
    font-family: monospace;
    color: rgb(126, 126, 126);
    position:relative;
    bottom:1rem;
}

footer:hover,
footer:focus {
    transition: all 0.2s;
    font-size: 1rem;
    color: black;
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 13.5px;
    }
}

@media only screen and (max-width: 500px) {
    #education ul {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 420px) {
    :root {
        font-size: 12px;
    }
}