:root {
    --primary-color: black;
    --second-color: white;
    --tertiary-color: rgb(117, 150, 150);
}

body {
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    /* Base font stack and size */
    margin: 0;
    padding: 0;
    background-color: var(--tertiary-color);
    min-width: 430px;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    padding: 0 2rem 0 2rem;
    background-color: var(--second-color);
    border: 1px solid black;
    box-shadow: 0 0 0.5rem 0 var(--primary-color);
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template: 1fr 2fr / 1fr 2fr;
    grid-template-areas:
        "im h1 h1"
        "im dv dv";
    column-gap: 1rem;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

header ul#links {
    text-align: right;
    float: right;
}

figure#profile-figure {
    width: 100%;
    margin: 2rem auto;
    display: inline-block;
    border: 3px solid var(--primary-color);
    box-sizing: border-box;
    grid-area: im;
}

figure#profile-figure img {
    width: 100%;
    height: 100%;
    display: block;
}

div#information {
    display: inline-block;
    width: 100%;
    grid-area: dv;
}

h1 {
    text-align: left;
    grid-area: h1;
    font-size: 2rem;
}

h2 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

h3 {
    font-weight: normal;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}

#summary p {
    line-height: 2.25rem;
    margin-top: 0.5rem;
}

p {
    margin: 0;
    padding: 0;
    line-height: 2rem;
    display: block;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.year-marker {
    float: right;
}

#education ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    padding-left: 2rem;
    column-gap: 2rem;
    line-height: 2rem;
}

#skills {
    font-size: 1rem;
}

#skills h3 {
    display: inline-block;
    font-weight: normal;
    font-size: inherit;
}

/* There's a list of categories, then a list of items in that category. 
        ul > li > ul > li */
#skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#skills ul ul,
#skills ul ul li {
    display: inline;
    font-size: inherit
}

#skills ul li {
    line-height: 2rem;
}


footer {
    transition: color 0.2s;
    transition: font-size 0.2s;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 2rem;
    bottom: 1rem;
    font-family: monospace;
    color: rgb(56, 56, 56);
    font-size: 0.75rem;
    letter-spacing: 0rem;
    position: relative;
    bottom: 1rem;
}

footer:hover,
footer:focus {
    transition: all 0.2s;
    font-size: 1rem;
    color: var(--primary-color);
}

@media only screen and (max-width: 700px) {
    :root {
        font-size: 13.5px;
    }

    header {
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        font-size: 12px;
    }

    #education ul {
        grid-template-columns: 1fr;
    }
}